<mat-tab-group fxLayoutAlign="flex-end center">
  <mat-tab label="Josh Leslie">
    <mat-card>
      <mat-card-content>
        Some guy on a laptop somewhere.
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="This website">
    <mat-card>
      <mat-card-content>
        This website's source code can viewed on Github <a href="https://www.github.com/joshmleslie/portfolio" rel="noopener" target="_blank">here</a>.

        I built it from the ground up, mobile-first, using Angular 7.x, TypeScript 3.x, Angular Material, Material Guidelines, and SCSS.
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
