.nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-button-size-adjust button {
  max-height: 3rem;
}
.side-button-size-adjust button {
  max-height: 2.25rem;
}
