.split-screen-parent-desktop,
.split-screen-parent-mobile {
  height: 100%;

  section {
    background: #c4c4c4;
    position: relative;

    opacity: 0.5;
    transition: opacity 300ms ease-in-out;

    overflow: hidden;

    span {
      font-size: 5vw;
    }
  }
}

.split-screen-parent-mobile {
  section {
    width: 100%;
  }
}

.split-screen-parent-desktop {
  section {
    height: 100%;

    &:hover {
      // hovering while state = 'none'
      opacity: 1;
    }
  }
}

.selected {
  opacity: 1 !important;
}

.rotated-title-left,
.rotated-title-right {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}

.rotated-title-left {
  transform: rotate(-90deg);
}
.rotated-title-right {
  transform: rotate(90deg);
}