<!-- DESKTOP -->
<!-- DESKTOP -->
<div fxShow fxHide.lt-sm="true"
  fxLayoutAlign="space-between center" class="split-screen-parent-desktop">
  <!-- LEFT SIDE -->
  <section fxLayoutAlign="center center"
          [@leftScreen]="focus"
          (mouseenter)="handleBump('left')"
          (click)="setFocus('left', 'web')"
          class="left-screen-parent"
          [ngClass]="{'selected': focus === 'left'  || focus === 'bumpLeft'}">
    <div *ngIf="focus === 'none'" fxLayout="column" fxLayoutAlign="center center">
      <span>WEB</span>
      <span>DESIGN</span>
    </div>

    <span *ngIf="focus === 'right' || focus === 'bumpLeft'" class="rotated-title-left">WEB DESIGN</span>

    <app-nav-bar *ngIf="focus === 'left' || focus === 'bumpRight'"></app-nav-bar>
  </section>

  <!-- RIGHT SIDE -->
  <section fxLayoutAlign="center center"
          [@rightScreen]="focus"
          (mouseenter)="handleBump('right')"
          (click)="setFocus('right', 'industrial')"
          class="right-screen-parent"
          [ngClass]="{'selected': focus === 'right' || focus === 'bumpRight'}">
    <div *ngIf="focus === 'none'" fxLayout="column" fxLayoutAlign="center center">
      <span>INDUSTRIAL</span>
      <span>DESIGN</span>
    </div>

    <span *ngIf="focus === 'left' || focus === 'bumpRight'" class="rotated-title-right">INDUSTRIAL DESIGN</span>

    <app-nav-bar *ngIf="focus === 'right' || focus === 'bumpLeft'"></app-nav-bar>
  </section>
</div>

<!-- MOBILE -->
<!-- MOBILE -->
<div fxShow fxHide.gt-xs="true" 
  fxLayoutAlign="space-between center" fxLayout="column" class="split-screen-parent-mobile">
  <!-- Top -->
  <section cdkDragLockAxis="y" cdkDrag
    fxLayoutAlign="center center" [@topScreen]="focus"
    (cdkDragMoved)="handleDrag($event)"
    (cdkDragEnded)="handleDragEnd($event)"
    [style.height]="menuStretch('top')"
    (click)="setFocus('top', 'web')"
    class="top-screen-parent"
    [ngClass]="{'selected': focus === 'top'  || focus === 'bumpTop'}">
    <div *ngIf="focus === 'none'" fxLayout="column" fxLayoutAlign="center center">
      <span>WEB</span>
      <span>DESIGN</span>
    </div>

    <span *ngIf="focus === 'bottom' || focus === 'bumpTop'">WEB DESIGN</span>

    <app-nav-bar *ngIf="focus === 'top' || focus === 'bumpBottom'"></app-nav-bar>
  </section>

  <!-- Bottom -->
  <section cdkDragLockAxis="y" cdkDrag
    fxLayoutAlign="center center"
    [@bottomScreen]="focus"
    (cdkDragMoved)="handleDrag($event)"
    (cdkDragEnded)="handleDragEnd($event)"
    [style.height]="menuStretch('bottom')"
    (click)="setFocus('bottom', 'industrial')"
    class="bottom-screen-parent"
    [ngClass]="{'selected': focus === 'bottom' || focus === 'bumpBottom'}">
    <div *ngIf="focus === 'none'" fxLayout="column" fxLayoutAlign="center center">
      <span>INDUSTRIAL</span>
      <span>DESIGN</span>
    </div>

    <span *ngIf="focus === 'top' || focus === 'bumpBottom'">INDUSTRIAL DESIGN</span>

    <app-nav-bar *ngIf="focus === 'bottom' || focus === 'bumpTop'"></app-nav-bar>
  </section>
</div>