.mt-1 {
    margin-top: 1rem;
}
.mr-1 {
    margin-right: 1rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.ml-1 {
    margin-left: 1rem;
}
.mx-1 {
    @extend .mr-1;
    @extend .ml-1;
}
.my-1 {
    @extend .mt-1;
    @extend .mb-1;
}
.m-1 {
    @extend .mx-1;
    @extend .my-1;
}