@mixin margins($val, $class: false) {
    $class: #{$class or $val};

    .mt-#{$class} {
        margin-top: #{$val}rem;
    }
    .mr-#{$class} {
        margin-right: #{$val}rem;
    }
    .mb-#{$class} {
        margin-bottom: #{$val}rem;
    }
    .ml-#{$class} {
        margin-left: #{$val}rem;
    }
    .mx-#{$class} {
        @extend .mr-#{$class};
        @extend .ml-#{$class};
    }
    .my-#{$class} {
        @extend .mt-#{$class};
        @extend .mb-#{$class};
    }
    .m-#{$class} {
        @extend .mx-#{$class};
        @extend .my-#{$class};
    }
}

@include margins(0.5, '0-5');
@include margins(1);
@include margins(1.5, '1-5');