$md-joshmleslieprimrary: (
    50 : #e1f5fb,
  100 : #b3e6f5,
  200 : #80d6ee,
  300 : #4dc6e7,
  400 : #27b9e2,
  500 : #01addd,
  600 : #01a6d9,
  700 : #019cd4,
  800 : #0193cf,
  900 : #0083c7,
  A100 : #eff9ff,
  A200 : #bce5ff,
  A400 : #89d1ff,
  A700 : #6fc7ff,
  contrast: (
      50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$md-joshmlesliesecondary: (
    50 : #fbfbfb,
  100 : #f6f6f6,
  200 : #f0f0f0,
  300 : #eaeaea,
  400 : #e6e6e6,
  500 : #e1e1e1,
  600 : #dddddd,
  700 : #d9d9d9,
  800 : #d5d5d5,
  900 : #cdcdcd,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
