<mat-toolbar fxLayout="column" fxLayoutAlign="center center">
    <mat-toolbar-row fxLayoutAlign="center center">
        <span><a class="clear-link" href="mailto:hello@joshmleslie.com" rel="noopener">Josh M Leslie</a></span>
    </mat-toolbar-row>
    <mat-toolbar-row fxLayoutAlign="center center">
        <span class="mr-1"><a class="clear-link" href="tel:203-767-1098"><mat-icon>phone</mat-icon></a></span>
        <span><a class="clear-link" href="sms:203-767-1098"><mat-icon>sms</mat-icon></a></span>
    </mat-toolbar-row>
</mat-toolbar>